/* CSS for TodoApp component */
header {
  text-align: center;
  padding: 20px;
  width: 100%;
  /* Add this line to center the header */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quote {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 243, 151);
  width: 80%;
  border: 1px solid #000;
  padding: 20px 20px;
}

.date {
  display: flex;
  align-items: center;
}

.date h2,
.date p {
  margin: 0;
  line-height: 1;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
}

/* CSS for each section component */
section {
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

/* CSS for layout positioning */
.container>* {
  flex-basis: 50%;
}

.top-right {
  align-self: flex-start;
  text-align: right;
}

.bottom-left {
  align-self: flex-end;
  text-align: left;
}

.bottom-right {
  align-self: flex-end;
  text-align: right;
}