html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#bdc4a7, #93827f);
  
}

h2,
h1 {
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  width: 1150px;
    /* Set the desired width */
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

.header {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding: 1rem 1rem;
  color: #ffffff;
  margin: 10px;
}

.item {
  width: 1100px;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: #2F2F2F;
  border-radius: 25px;
  color: #ffffff;
  margin: 10px;
}

.ToDoListSection {
  width: 800px;
  background-color: #2F2F2F;
  color: white;
  order: 1;
  flex: 1;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
    }

.TomorrowTaskSection {
  width: 800px;
  background-color: #2F2F2F;
  color: white;
  order: 2;
  flex: 1;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.Notes {
  
  background-color: transparent;
  color: white;
  order: 2;
  flex: 1;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
     }

button {

  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #92B4A7;
  color: #fff;
  padding: 16px 40px;
  border-radius: 25px;
}